@import url(../../rotation/rotation.css);
.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../../../../images/kaufman-triangle.svg);
  z-index: 0;
  background-size: contain;
  animation: rotation 20s linear infinite;
}